.panel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.projects-wrapper {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    width: 100%;
    padding: 20px;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.projects-wrapper::-webkit-scrollbar {
    display: none;
}

.project {
    min-width: 350px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.76);
    background-image: url('../Assets/HomeImage.jpg');
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    position: relative;
    padding: 20px;
    padding-bottom: 40px;
    padding-top: 40px;
    transition: height 0.3s ease;
    box-sizing: border-box;
}

.by-date {
    font-size: 50px;
    min-width: 350px;
    background-color: #333;
    color: #e6341c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 20px;
    padding-bottom: 40px;
    box-sizing: border-box;
}

.project.active {
    transform: scale(1.2);
    z-index: 10;
    padding: 20px;
    padding-top: 40px;
}

.project.active .project-name {
    flex-grow: 0;
    margin-bottom: 20px;
}

.project.active .project-description {
    opacity: 1;
    margin-top: 10px;
    margin-left: 14px;
    margin-right: 14px;
}

.project-name {
    font-weight: bold;
    font-size: 26px;
    margin-bottom: 0;
    transition: margin-bottom 0.3s ease;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-description {
    font-size: 18px;
    opacity: 0;
    transition: opacity 0.3s ease, margin-top 0.3s ease;
    margin-top: 0;
}

.project-description a {
    color: rgb(66, 146, 250);
}

.icon-link {
    position: absolute;
    bottom: 20px;
    right: 15px;
    color: #fff;
    font-size: 24px;
    text-decoration: none;
}

.icon-link:hover {
    color: #e74c3c;
}

.hover-text {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease;
    text-align: center;
    font-size: 16px;
}

.scroll-btn-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 60px;
}

.scroll-btn {
    transform: translateY(-40%);
    background-color: #111;
    color: #fff;
    border: none;
    cursor: pointer;
    z-index: 10;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    width: 70px;
    height: 70px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll-btn:hover {
    background-color: #e74c3c;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

.scroll-btn:active {
    transform: scale(0.97);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.39);
}

@media (max-width: 1100px) {
    .project-name {
        font-size: 22px;
    }
    .project-description {
        font-size: 16px;
    }
    .icon-link {
        font-size: 22px;
    }
    .project {
        min-width: 300px;
        height: 350px;
        border-radius: 10px;
        padding: 20px;
        padding-bottom: 40px;
        padding-top: 40px;
    }
    .by-date {
        min-width: 300px;
    }
}

@media (max-width: 480px) {
    .project-name {
        font-size: 16px;
    }
    .project-description {
        font-size: 14px;
    }
    .project-description a {
        font-size: 11px;
    }
    .icon-link {
        font-size: 18px;
    }
    .project {
        min-width: 250px;
        height: 315px;
        border-radius: 10px;
        padding: 15px;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .project.active {
        padding: 10px;
        padding-top: 10px;
    }
    .project.active .project-name {
        margin-bottom: 10px;
    }
    .project.active .project-description {
        opacity: 1;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .by-date {
        min-width: 250px;
    }
}