.ticker-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(105, 50, 50, 0.555);
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0px -20px 20px rgba(170, 72, 72, 0.452);
    transition: box-shadow 0.3s ease;
}

.ticker-container:hover {
    box-shadow: 0px -40px 60px rgba(177, 69, 69, 0.527);
}

.ticker-text {
    display: inline-block;
    font-size: 30px;
    padding-left: 100%;
    animation: ticker 18s linear infinite;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.ticker-text a{
    font-size: 30px;
    color: white;
}

@keyframes ticker {
0% {
    transform: translateX(0%);
}
100% {
    transform: translateX(-100%);
}
}

@media (max-width: 1100px) {
    .ticker-container {
        height: 60px;
    }
    .ticker-text {
        font-size: 20px;
    }
    .ticker-text a{
        font-size: 20px;
    }
}